*{
  font-family: 'Lato', sans-serif;
background-color: #cdcdfc;
  text-align: center;
  list-style-type: none;
}

h1{
  color:red;
}

#dodajprzeglad{
  margin-bottom: 10px;
}

button {
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin-left: 10px;
}
button:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
button:active {
  position:relative;
  top:1px;
}

#lista{
  width: 500px; height: 300px;  position: center; top: auto; right: auto; bottom: auto; left: auto; margin: auto;

}
